.main {
    background-image: linear-gradient(to bottom left, #581845, #3A6CAC);
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C1C1C1;
}

.container {
    width: 70%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    text-align: center;
}

.topic {
    width: 40%;
    height: 15%;
    border-radius: 5px;
    margin: 15px auto;
}

.searchBar {
    width: 19%;
    height: 5%;
    background-color: #E3E3E3;
    border-radius: 5px;
    margin-left: 10%;
    margin-top: 4%;
}

.element {
    width: 20%;
    height: 10px;
    background-color: #E3E3E3;
    padding: 5px;
    border-radius: 5px;
}

.tr {
    width: 20%;
    height: 10px;
}

.table {
    width: 80%;
    margin: 0 auto;
    color: black;
}

.del {
    width: 5%;
    height: 10px;
    background-color: #E3E3E3;
    padding: 5px;
    border-radius: 5px;
}

.inf {
    width: 50%;
    height: 5%;
    background-color: #E3E3E3;
    padding: 5px;
    border-radius: 5px;
    margin: 5% auto;
}

.back {
    width: 100px;
    height: 40px;
    background-color: #E3E3E3;
    padding: 5px;
    border-radius: 5px;
    margin: 0 auto 20px;
}

.button {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
}

.button:hover {
    cursor: pointer;
}

.a {
    text-decoration: none;
    color: black;
}